<head>
  <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>
      {% if page.title == "Home" %}
        {{ site.title }} - {{ site.tagline }}
      {% else %}
        {{ page.title }} - {{ site.title }}
      {% endif %}
    </title>
    <link rel="canonical" href="{{ page.url }}" />

    <!-- RSS -->
    <link rel="alternate" type="application/atom+xml" title="{{ site.name }} — Feed" href="{{ site.baseurl }}/atom.xml">

    <!-- CSS -->
    {% css_asset_tag global %}
    - /_assets/css/poole.css
    - /_assets/css/monokai.css
    - /_assets/css/hyde.css
    {% endcss_asset_tag %}


    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Lato">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

</head>
